html, body {
    margin: 0;
    
}

#content {
    display: grid;
    height: 100%;
    grid-template-rows: 0.5fr 0.5fr 9fr 0.4fr;
    color: white;
}

.mainContent {
 background-color: rgb(150, 82, 82);
}

.intro {
    height: 60%;
    background-color: aliceblue;
    background-image: url('https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.intro > h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 80px;
}

.reviews {
    padding: 15px;
    height: 40%;
    background-color: rgb(150, 82, 82);
    display: grid;
    grid-template-rows: 0.3fr 4fr;
}

.reviews > h3 {
    margin: 0;
    text-align: center;
}

.revDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.revDivs > div {
    background-color: black;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(117, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

header > h1 {
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

.nav > button {
    border-radius: 7px 7px 0 0;
    padding: 10px;
    width: 33.33%;
    height: 100%;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(76, 39, 39);    
    color: white;
    border: 2px solid white;
    border-bottom: 0px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}

